@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(90deg, #20dec5 0%, #6edca0 100%);
}
.nav {
  float: left;
  border: 1px solid #ccc;
  overflow: hidden;
  position: fixed;
  left: 0;
  height: 100%;
  width: 200px;
  /* background-color: #f1f1f1; */
  z-index: 1;
}
.nav button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  font-weight: bold;
}
.nav button:hover {
  background-color: #ddd;
}
.tabcontent {
  margin: auto;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.form {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form h3 {
  padding: 15px;
  font-variant: inherit;
  font-size: 1.5rem;
}
.form p {
  width: 70%;
}
.form input {
  width: 100%;
}
.btn_in {
  width: 20%;
  padding: 3px 0;
  margin-top: 15px;
  font: inherit;
  color: grey;
  cursor: pointer;
  border: 1px solid #55bcaf;
  background: white;
  border-radius: 8px;
}
.btn_in:hover {
  border-color: #23dfc6;
  background: #23dfc6;
}
input {
  width: 700px;
  height: 100%;
  /* display: inline;
  margin: 0.5rem 0;
  font: inherit;
  padding: 0.15rem 0.25rem; */
  /* border: 1px solid #ccc; */
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px 30px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  /* width: 80%; */
  width: 800px;
}
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.name {
  font-size: 24px;
  font-weight: bold;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.delete {
  background-color: #b93939;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.delete:hover {
  background-color: #5c2121;
}
#group-choice,
#tutor-choice,
#discipline-choice,
#room-choice {
  width: 70%;
}
.shed {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h3 {
  padding: 15px;
  font-variant: inherit;
  font-size: 1.5rem;
}
table {
  border: 1px solid #ccc;
  width: 80%;
}
td,
th {
  border: 1px solid #ccc;
  width: 10%;
}
p {
  text-align: center;
}
.active {
  background-color: #abf1e8;
}
.canceled {
  background-color: #e03f3f;
}
